<ion-view view-title="Liste du personnel">
  <ion-content>
    <ion-list>
    	<div class="item row"> 
          <div class="col">Personnel ACED/COBRACED</div>
          <div class="col">{{ date.date_full}}</div>
        </div>
        <label class="item item-input">
    
  </label>
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ><ng-camera
    capture-message="Cheeeese!"
    countdown="3"
    output-height="160"
    output-width="213"
    viewer-height="320"
    viewer-width="426"
    crop-height="90"
    crop-width="120"
    image-format="jpeg"
    jpeg-quality="100"
    action-message="Take picture"
    snapshot="vm.picture"
    flash-fallback-url="/lib/webcamjs/webcam.swf"
    overlay-url="/lib/ng-camera/app/overlay.png"
    shutter-url="/lib/ng-camera/app/shutter.mp3"
></ng-camera>
	<img src="{{vm.picture}}">
</ion-item>-->
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="personnel in aced.personnel | filter:filtre" type="item-text-wrap" ng-click="login(personnel.id)">-->
      <ion-item class="item item-input"><input type="text" ng-model="filtre"></ion-item>
      <div>
  Email: <input type="text" ng-model="email">
  Password: <input type="text" ng-model="password">

  <br><br>

  <button ng-click="createUser()">Create User</button>

  <br><br>

  <button ng-click="removeUser()">Remove User</button>

  <p ng-if="message">Message: <strong>{{ message }}</strong></p>
  <p ng-if="error">Error: <strong>{{ error }}</strong></p>
</div>
      <ion-item class="item-avatar item-icon-right pause" ng-repeat="personnel in personnels" type="item-text-wrap" ng-click="login(personnel.id)">
        <img ng-src="img/personnel/{{personnel.face}}">
			<h2>{{personnel.nom}} {{personnel.prenom}}</h2>
			<p>{{personnel.poste.intitule_poste}}</p>
			<div>date:{{personnel.presence[0].date.date}}</div>
			<div>Heure arrivée:{{personnel.presence[0].ha}}(prévu:{{personnel.poste.horaire_travail_ha}})</div>
			<!--<div>Début pause:{{personnel.presence[0].dp}}</div>
			<div>fin pause:{{personnel.presence[0].fp}}</div>-->
			<div>heure départ:{{personnel.presence[0].hd}}(prévu:{{personnel.poste.horaire_travail_hd}})</div>
			<div>temps de travail effectué:{{personnel.presence[0].hd}}</div>
			<div>temps de travail restant:{{personnel.presence[0].hd}}</div>
			<div>temps de pause effectué:{{personnel.presence[0].hd}}</div>
			<div>temps de pause restant:{{personnel.presence[0].hd}}</div> 
			
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85603320-2', 'auto');
  ga('send', 'pageview');

</script>