<ion-view view-title="FICHE DE POSTE-Modifier">
  <ion-content>
<div class="list">
<form>
  <div class="item item-divider">
    INFORMATION G&Eacute;N&Eacute;RALE SUR LE POSTE :
  </div>
  <label class="item item-input">
    <span class="input-label">P&ocirc;le :</span>
    <select ng-model="poste.service">
		<option ng-repeat="service in services">{{service}}</option>
	</select>
  </label>
  <label class="item item-input">
    <span class="input-label">Direction :</span>
    <input ng-model="poste.direction" ng-change="sock(poste)" type="text" placeholder="Direction">
  </label>
  <label class="item item-input">
    <span class="input-label">Lieu de travail :</span>
    <input ng-model="poste.lieu" ng-change="sock(poste)" type="text" placeholder="Lieu de travail">
  </label>
  <label class="item item-input">
    <span class="input-label">Raison d&apos;&ecirc;tre du poste :</span>
    <input ng-model="poste.raison" ng-change="sock(poste)" type="text" placeholder="Raison d&apos;&ecirc;tre du poste">
  </label>
  <label class="item item-input">
    <span class="input-label">Contenu g&eacute;n&eacute;ral des missions :</span>
    <textarea name="poste.contenu_missions" ng-model="poste.contenu_missions"></textarea>
    <!--<textarea name="poste.contenu_missions" ng-model="poste.contenu_missions" style="width: 100%"></textarea>
    <textarea ng-model="poste.contenu_missions" ng-change="sock(poste)" placeholder="Contenu g&eacute;n&eacute;ral des missions"></textarea>-->
  </label>
  <label class="item item-input">
    <span class="input-label">Intitul&eacute; du poste :</span>
    <input ng-model="poste.intitule_poste" ng-change="sock(poste)" type="text" placeholder="Intitul&eacute; du poste">
  </label>
  <div class="item item-divider">
    INFORMATION ADMINISTRATIVE :
  </div>
  <label class="item item-input">
    <span class="input-label">Nom et pr&eacute;nom du salari&eacute; en place sur le poste :</span>
    <input ng-model="poste.nomprenom" ng-change="sock(poste)" type="text" placeholder="Nom et pr&eacute;nom du salari&eacute; en place sur le poste">
  </label>
  <label class="item item-input">
    <span class="input-label">Fili&egrave;re:</span>
    <input ng-model="poste.filiere" ng-change="sock(poste)" type="text" placeholder="Fili&egrave;re">
  </label>
  <label class="item item-input">
    <span class="input-label">Cat&eacute;gorie:</span>
    <input ng-model="poste.categorie" ng-change="sock(poste)" type="text" placeholder="Cat&eacute;gorie">
  </label>
  <label class="item item-input">
    <span class="input-label">Depuis le :</span>
    <input ng-model="poste.depuis_le" ng-change="sock(poste)" type="text" placeholder="Depuis le">
  </label>
  <label class="item item-input">
    <span class="input-label">Responsabilit&eacute; hi&eacute;rarchique :</span>
    <ion-radio ng-model="poste.responsabilite_hier" ng-change="sock(poste)" ng-value="'true'">Oui</ion-radio>
  	<ion-radio ng-model="poste.responsabilite_hier" ng-change="sock(poste)" ng-value="'false'">Non</ion-radio>
  </label>
  <div ng-switch="poste.responsabilite_hier">
  	<div ng-switch-when="true">
	   	<label class="item item-input">
	    	<span class="input-label">nombre de salari&eacute;s encadr&eacute;s :</span>
	    	<input ng-model="poste.nombre" ng-change="sock(poste)" type="text" placeholder="nombre de salari&eacute;s encadr&eacute;s">
	  	</label>
	</div>
	<div ng-switch-when="false"></div>
  	<div ng-switch-default></div>
  </div>
  <label class="item item-input">
    <span class="input-label">Liens fonctionnels :</span>
    <ion-radio ng-model="poste.liens_fonctionnels" ng-change="sock(poste)" ng-value="'true'">Oui</ion-radio>
  	<ion-radio ng-model="poste.liens_fonctionnels" ng-change="sock(poste)" ng-value="'false'">Non</ion-radio>
  </label>
  <div ng-switch="poste.liens_fonctionnels">
  	<div ng-switch-when="true">
	   	<label class="item item-input">
	    	<span class="input-label">nombre d&apos;agents concern&eacute;s :</span>
	    	<input ng-model="poste.nombre_agents" ng-change="sock(poste)" type="text" placeholder="nombre d&apos;agents concern&eacute;s">
	  	</label>
	</div>
	<div ng-switch-when="false"></div>
  	<div ng-switch-default></div>
  </div>
  <label class="item item-input">
    <span class="input-label">Horaires de travail-arrivée :</span>
    <input ng-model="poste.horaire_travail_ha" ng-change="sock(poste)" type="text" placeholder="8h">
  </label>
  <label class="item item-input">
    <span class="input-label">Horaires de travail-départ :</span>
    <input ng-model="poste.horaire_travail_hd" ng-change="sock(poste)" type="text" placeholder="15h30">
  </label>
  <label class="item item-input">
    <span class="input-label">Interventions hors horaires de travail :</span>
    <input ng-model="poste.intervention_hors_horaires" ng-change="sock(poste)" type="text" placeholder="selon planning des activit&eacute;s culturelles...(en soir&eacute;e apr&egrave;s 15h30, samedi, dimanche)">
  </label>
  <label class="item item-input">
    <span class="input-label">Astreintes :</span>
    <ion-radio ng-model="poste.astreintes" ng-change="sock(poste)" ng-value="'true'">Oui</ion-radio>
  	<ion-radio ng-model="poste.astreintes" ng-change="sock(poste)" ng-value="'false'">Non</ion-radio>
  </label>
  <div ng-switch="poste.astreintes">
  	<div ng-switch-when="true">
	   	<label class="item item-input">
	    	<span class="input-label">Lesquelles :</span>
	    	<input ng-model="poste.lesquelles" ng-change="sock(poste)" type="text" placeholder="lesquelles">
	  	</label>
	</div>
	<div ng-switch-when="false"></div>
  	<div ng-switch-default></div>
  </div>
  <div class="item item-divider">
    LES MISSIONS DU POSTE :<button class="button button-icon icon ion-plus item-icon-right" ng-click="addMission()"></button>
  </div>
  <div class="item item-input row" ng-repeat="mission in poste.missions_poste">
	  <label class="item item-input col">
	    <span class="input-label">Mission {{$index+1}}:</span>
	    <input ng-model="mission.mission" ng-change="sock(poste)" type="text" placeholder="mission {{ $index+1 }}">
	  </label>
	  <label class="item item-input col">
	    <span class="input-label">Activit&eacute; {{ $index+1 }}:</span>
	    <input ng-model="mission.activite" ng-change="sock(poste)" type="text" placeholder="activit&eacute; {{ $index+1 }}">
	  </label>
	  <button class="ion-minus-circled" ng-click="deleteMission(mission)">
          </button>
  </div>  
  <div class="item item-divider">
    LES MODALIT&Eacute;S D&apos;EXERCICES DU POSTE :
  </div>
  <label class="item item-input">
    <span class="input-label">Les moyens mat&eacute;riels :</span>
    <input ng-model="poste.moyen_materiel" ng-change="sock(poste)" type="text" placeholder="Les moyens mat&eacute;riels">
  </label>
  <label class="item item-input">
    <span class="input-label">L&apos;&eacute;quipement de protection individuelle :</span>
    <input ng-model="poste.protection_individuelle" ng-change="sock(poste)" type="text" placeholder="L&apos;&eacute;quipement de protection individuelle">
  </label>
  <label class="item item-input">
    <span class="input-label">Les conditions de travail et les contraintes du poste
 :</span>
    <input ng-model="poste.condition_travail" ng-change="sock(poste)" type="text" placeholder="Les conditions de travail et les contraintes du poste">
   </label>
    <label class="item item-input">
    <span class="input-label">Les am&eacute;liorations  &agrave; envisager :</span>
    <input ng-model="poste.amelioration" ng-change="sock(poste)" type="text" placeholder="Les am&eacute;liorations  &agrave; envisager">
  </label>
  <label class="item item-input">
    <span class="input-label">Les relations au travail avec les sup&eacute;rieurs:</span>
    <input ng-model="poste.relation_travail_sup" ng-change="sock(poste)" type="text" placeholder="Les relations au travail avec les sup&eacute;rieurs">
  </label>
  <label class="item item-input">
    <span class="input-label">Les relations au travail avec les personnes internes:</span>
    <input ng-model="poste.relation_travail_int" ng-change="sock(poste)" type="text" placeholder="Les relations au travail avec les personnes internes">
  </label>
  <label class="item item-input">
    <span class="input-label">Les relations au travail avec les personnes externes:</span>
    <input ng-model="poste.relation_travail_ext" ng-change="sock(poste)" type="text" placeholder="Les relations au travail avec les personnes externes">
  </label>
  <label class="item item-input">
    <span class="input-label">Les documents de r&eacute;f&eacute;rents :</span>
    <input ng-model="poste.referents" ng-change="sock(poste)" type="text" placeholder="Les documents de r&eacute;f&eacute;rents">
  </label>
  <div class="item item-divider">
    LES COMPETENCES REQUISE PAR LE POSTE :
  </div>
  <label class="item item-input">
    <span class="input-label">Savoir et connaissance :</span>
    <input ng-model="poste.savoir_connaissance" ng-change="sock(poste)" type="text" placeholder="Savoir et connaissance">
  </label>
  <label class="item item-input">
    <span class="input-label">Savoir-faire :</span>
    <input ng-model="poste.savoir_faire" ng-change="sock(poste)" type="text" placeholder="Savoir-faire">
  </label>
  <label class="item item-input">
    <span class="input-label">Savoir-&ecirc;tre :</span>
    <input ng-model="poste.savoir_etre" ng-change="sock(poste)" type="text" placeholder="Savoir-&ecirc;tre">
  </label>
  <div class="item item-divider">
    LES OBJECTIFS 2016-2017 :
  </div>
  <label class="item item-input">
    <span class="input-label">Missions :</span>
    <textarea name="poste.mission" ng-model="poste.mission"></textarea>
    <!--<textarea name="poste.mission" ng-model="poste.mission" style="width: 100%"></textarea>
    <textarea ng-model="poste.mission" ng-change="sock(poste)" placeholder="Missions"></textarea>-->
  </label>
  <label class="item item-input">
    <span class="input-label">Objectifs 2016-2017 :</span>
    <textarea name="poste.objectifs" ng-model="poste.objectifs"></textarea>
    <!--<textarea name="poste.objectifs" ng-model="poste.objectifs" style="width: 100%"></textarea>
    <textarea ng-model="poste.objectifs" ng-change="sock(poste)" placeholder="Objectifs 2016-2017"></textarea>-->
  </label>
  <!--<label class="item item-input">
    <span class="input-label">Signature salari&eacute; :</span>
    <input ng-model="poste.date_signature_salarie" ng-change="sock(poste)" type="text" placeholder="Signature salari&eacute;">
  </label>
  <label class="item item-input">
    <span class="input-label">Signature directeur :</span>
    <input ng-model="poste.date_signature_directeur" ng-change="sock(poste)" type="text" placeholder="Signature directeur;">
  </label>-->
  <label class="item item-input fin">
    <div class="padding item item-input">
		<button type="button" class="button button-block button-positive" id="submit" ng-click="submitForm(poste)">Valider</button>
	</div>
  </label> 
</form>
</div>   
  </ion-content>
<div class="tabs">
  <a class="tab-item" href="#app/personnel/all">
    Liste personnel
  </a>
  <a class="tab-item" href="#app/personnel/poste/details/{{ persoId }}">
    Details
  </a> 
  <a class="tab-item" ng-click="test()">  
    Imprimer
  </a>
</div>
</ion-view>