<ion-view view-title="COBRACED">
  <ion-content>
    <ion-list>
      <ion-item href="#/app/cobraced/quoi">
        C'est quoi?
      </ion-item>
      <ion-item href="#/app/cobraced/conseil">
        Conseil administratif
      </ion-item>
      <ion-item href="#/app/cobraced/personnel">
        Personnel
      </ion-item>
      <ion-item href="#/app/cobraced/organigramme">
        Organigramme
      </ion-item>
      <ion-item href="#/app/cobraced/membres">
        Membres/abonnés
      </ion-item>
      <ion-item href="#/app/cobraced/benevoles">
        B&eacute;n&eacute;voles/Volontaires/ok
      </ion-item>
      <ion-item href="#/app/cobraced/reglements/choice">
        Réglement intérieur
      </ion-item>
      <ion-item href="#/app/cobraced/informations">
        Informations importantes
      </ion-item>
      <ion-item href="#/app/cobraced/sanctions">
        Sanctions
      </ion-item>
      <ion-item href="#/app/cobraced/evenements">
        Ev&eacute;nements
      </ion-item>
      <ion-item href="#/app/cobraced/statistiques">
        Statistiques
      </ion-item>
      <ion-item href="#/app/cobraced/divers">
        divers
      </ion-item>
      
    </ion-list>
    <!-- debut clubJoueursView --> 
<!--<form name="clubJoueursForm" id="clubJoueursForm" method="POST" ng-submit="submitForm(clubJoueursForm.$invalid)" novalidate>
	<div class="row">
		    <ul class="nav nav-tabs" ng-repeat="menu in menus">
		      <li ng-repeat="(key, value) in menu"  ng-class="activeClass('{{ value }}')"><a href="#{{ value }}">{{ key }}</a></li> 
		    </ul>
	</div>
	<div class="row"  ng-controller="SportCtrl">
		<table class="table table-striped table-condensed">
		    <thead>
		        <tr>
		            <th>PHOTO:</th>
		            <th>NOM:</th>
		            <th>PRENOM:</th>
		        </tr>
				<tr>
				<th>
					<input class="noprint" type="search" ng-model="filtre1" placeholder="nom/prenom/date">
				</th>
				<th>			
				</th>
				<th></th>
				</tr>
		    </thead>
		    <tbody>
			        <tr ng-repeat="membre in membres | filter : filtre1" ng-click="choix(membre._id)">
			            <td><img ng-src="uploads/{{membre.photo}}" width="100" height="100" /></td>
			            <td>{{ membre.nom }}</td>
			            <td>{{ membre.prenom }}</td>
			            <td><a ng-click="details(liste.value._id)" class="btn btn-small btn-primary">DETAILS</a></td>
			            <td><a ng-click="update(liste.value._id)" class="btn btn-small btn-danger">OK</a></td>
			            <td><a ng-click="stat(liste.value.nom,liste.value.prenom)" class="btn btn-small btn-danger">TEST</a></td>
			        </tr>
	    		</tbody>
		</table>
	</div>
	<div class="row">
		<button type="button" class="btn btn-primary pull-right" ng-click="next2(choixClub.id,choixEquipe.nomEquipe)">Suivant</button>
	</div>
</form>-->
  </ion-content>
</ion-view><!--<ion-view view-title="Volley-Ball">
  <ion-content>
    <div class="row responsive-sm">
	    <div class="col-sm-4"><button>Actualités</button></div>
	    <div class="col-sm-4"><button>Clubs</button></div>
	    <div class="col-sm-4"><button>Joueurs</button></div>
    </div>
  </ion-content>
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.actualites">
        Actualités
    </ion-toggle>
    <ion-toggle  ng-model="settings.clubs">
        Clubs
    </ion-toggle>
    <ion-toggle  ng-model="settings.joueurs">
        Joueurs
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>-->
