<ion-view view-title="Prendre une photo">
  <ion-header-bar>
    <h1 class="title">Pointer</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Fermer</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="" ng-controller="pointageAddPhotoCtrl as vm">
        	<ng-camera
			    capture-message=""
			    countdown="3"
			    output-height="160"
			    output-width="213"
			    viewer-height="320"
			    viewer-width="426"
			    crop-height="90"
			    crop-width="120"
			    image-format="jpeg"
			    jpeg-quality="100"
			    action-message="Prendre photo"
			    snapshot="vm.picture"
			    flash-fallback-url="/lib/webcamjs/webcam.swf"
			    overlay-url="/lib/ng-camera/app/overlay.png"
			    shutter-url="/lib/ng-camera/app/shutter.mp3"
			></ng-camera>
			<img ng-if="vm.picture" ng-src="{{vm.picture}}" alt="webcam picture">
      </div>
    </form>
  </ion-content>
  <div class="tabs">
	  <a class="tab-item" href="#app/pointage/all">
	    Liste personnel
	  </a>
	  <a class="tab-item" href="#app/pointage/poste/details/{{ persoId }}">
	    Details
	  </a> 
	  <a class="tab-item" ng-click="test()">  
	    Imprimer
	  </a>
	</div>
</ion-view>